$ruby: #F0D8A8;
$magic: #3D1C00;
$korea: #86B8B1;
$huskers: #F2D694;
$gaming: #FA2A00;
$gray: #777;

div.wrapper{
	width: 100%;
	border-bottom: 1px solid #eaeaea;

	background-color: rgba(255, 255, 255, 0.9);

	header {
		max-width: 800px;
		margin: 0px auto;
		position: relative;

		ul{
			text-align: center;

			li{
				display: inline-block;
				padding: 8px 20px;
				border-bottom: 3px solid #333;
				border-top: 2px solid transparent;

				color: $gray;
				text-transform: lowercase;

				&.rails{
					border-bottom-color: $ruby;
				}

				&.magic{
					border-bottom-color: $magic;
				}

				&.korea{
					border-bottom-color: $korea;
				}

				&.huskers{
					border-bottom-color: $huskers;
				}

				&.gaming{
					border-bottom-color: $gaming;
				}

				&.rails:hover{
					border-top: 2px solid $ruby;
				}

				&.magic:hover{
					border-top: 2px solid $magic;
				}

				&.korea:hover{
					border-top: 2px solid $korea;
				}

				&.huskers:hover{
					border-top: 2px solid $huskers;
				}

				&.gaming:hover{
					border-top: 2px solid $gaming;
				}

				&:hover{
					border-top: 2px solid #333;

					color: #333;
					cursor: pointer;
				}
			}
		}

		div.logo{
			position: absolute;
			top: 0px;
			left: 0px;

			a{
				text-decoration: none;

				h1{
					padding: 8px 15px;

					background-color: rgba(0,0,0,0.6);
					font-size: 22px;
					font-family: 'Russo One', sans-serif;
					color: #fff;
					cursor: pointer;
					letter-spacing: 1px;
				}
			}
		}
	}
}