header{
	height: 280px;
	position: relative;
	overflow-y: hidden;

	img{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}

	div#logo{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 250px;
		height: 85px;
		padding: 10px;
		margin-top: -42px;
		margin-left: -135px;

		background-color: rgba(0,0,0,0.7);
		text-align: center;

		h1{
			font-size: 16pt;
			font-weight: bold;
			color: white;
		}

		h2{
			font-size: 8pt;
			text-transform: uppercase;
			color: #eaeaea;

			letter-spacing: 1.6px;
		}
	}
}